* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    margin: 15px;
    padding: 0;
  }
  
  .logo > img {
    width: 50px;
  }
  
  p{
    text-align: center;
  }

  .menu li{
    list-style: none;
  }

  .hamburguer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
          
  /* Media Query for Mobile Devices */ 
  @media (max-width: 480px) { 
      body { 
          background-color: red; 
      } 
      .navbar{
        display: none;
      }
      .logo{
        display: flex;
        justify-content: center;
      }
      h1{
        display: flex;
        justify-content: center;
      }
      main{
        display:flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
      }
      .product{
        border-style: solid;
        border-width: 3px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 250px;
      }
      .social{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
  } 
    
  /* Media Query for low resolution  Tablets, Ipads */ 
  @media (min-width: 481px) and (max-width: 767px) { 
      body { 
          background-color: yellow; 
      }
      .navbar{
        display: none;
      }
      header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      main{
        display:flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
      }
      .product{
        border-style: solid;
        border-width: 3px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
      }
      .social{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
  } 
    
  /* Media Query for Tablets Ipads portrait mode */ 
  @media (min-width: 768px) and (max-width: 1024px){ 
      body { 
          background-color: blue; 
      }
      .navbar{
        display: none;
      }
      header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      main{
        display:flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
      .product{
        border-style: solid;
        border-width: 3px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
      }
      .social{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
  } 
    
  /* Media Query for Laptops and Desktops */ 
  @media (min-width: 1025px){ 
      body { 
          background-color: white; 
      }
        .navbar{
            display: contents;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
        }
        .menu{
            background-color: gray;
            color: aliceblue;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 40px;
        }
        header{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .product{
            border-style: solid;
            border-width: 3px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 380px;
        }
        main{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 30px;
        }
        .social{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
  }  
